@media(max-width: 991px)
{
.brands 
{display:none;}

}

@media(max-width: 767px)
{
.call_to
{
display:block;	
}
.navbar-brand
{margin: 0 0 0 15px;}
.navbar-brand > img 
{display: inline;}
.Rebuild
{display:none;	}
.navbar-right{margin:0px;}
.Rebuild p {font-size: 18px;}
.Rebuild span {font-size: 29px;}
.seals img{margin-bottom:5px;}
.padd_right_0
{padding-right:15px;}
.payment-form .form-control
{margin-bottom:10px;}
.plan_offers_row.total .column {
    text-align: right;
}
.plan_offers_row .price
{
 text-align: center;	
}
.agreement-action
{
text-align:left;	
}

}
/* ============================ */
@media(max-width: 640px)
{
.electronic-signature p
{
text-align:justify;	
}

	
}
/* ============================ */
@media(max-width: 610px)
{
.intro-section h1 
{ font-size: 28px;}	
.offer_banner 
{
  background: #ffb20e none repeat scroll 0 0;
    height: auto;
    padding: 6px 0;
    position: static;
    transform: none;
	width:100%;
}
.offer_banner p
{
position: static;
transform: none;
margin: 0;
font-size: 25px; 
}	
.plan-price 
{
font-size: 48px;
}

}
/* ================== */

@media(max-width: 574px)
{
.agreement-des
{
width:100%;	
padding:0;
}
.agreement-action
{
  border-top: 1px solid #ddd;
    margin-top: 15px;
    padding-top: 16px;
    text-align: center;
    width: 100%;
}	
.form-container.step3-detail
{
padding: 5px 16px;	
}
.section-title
{
 margin: 0 0 30px;	
}	
	
	
}

/* ================== */

@media(max-width: 480px)
{
.form-container h2	
{font-size: 18px;}
.form-container
{padding: 5px 35px;}	

.form-container.step2-detail-v2
{
padding: 0;
}
.form-container.step2-detail
{
padding: 0;
}
.confirmation-detail
{padding:13px 10px;}
.plan-detail {font-size: 14px;}
.payment-form .btn-orange{padding: 13px 30px;}
.navbar-brand
{
height: auto;
max-width: 167px;
padding: 21px 0;
}
.plan_offers_row
{font-size: 17px;}
.plan_offers_row .price
{font-size: 20px;}
.payment-form{padding: 0;}
.payment-information h2{font-size: 20px;}
.fancy_checkbox .address
{padding-left:0;}
.intro-section h1 {
    font-size: 21px;
}
.whats_next .title
{ font-size: 21px;  height: 14px;}
.whats_next .title span
{  padding: 0 16px;}
.whats_next .list-item h3 {
    font-size: 15px;
}
.whats_next .list-item p
 {font-size: 16px;}
 .confirmation-detail .alert-success
 { font-size: 15px;}
 
 .popover.right 
{
margin-right: 3px;
}

}

@media(max-width: 479px)
{

.plan-detail tr > td:last-child
{
min-width:auto;
}
.btn-report
{
display: flex;
}
.thankyou-message{font-size: 18px;}

 .plan-detail tr > td:first-child 
{
max-width: 100%; 
text-align:left;
}
 .plan-detail tr  td
 {
 padding: 8px 15px !important;	 
}

.btn.help
{ margin-left: 2px;}
}