@media(max-width: 1199px)
{
.content-container.fixed-side 
{
margin-left: 20.2%;
}	
.content-container
{
min-width: 79%;	
}
.meter-des
{
padding: 10px 13px;	
}
.nagative-pie-container
{
width:100%;	
border-right:none;
border-bottom: 1px solid #ddd;
margin-bottom:50px;
}
.nagatives-bargraph
{
width:100%;	
}
.credit-report .nav-tabs 
{
padding-left:3px;
}
.credit-report .nav-tabs > li > a
{
padding: 10px 9px;	
}

}

/* ============================ */
@media(max-width: 1024px)
{

.sidebar.active
{
left:0px;
}
section 
{
padding: 30px 0;
}
.Score-Simulator 
{
padding: 30px 0;
}

	
}

/* ============================ */
@media(max-width: 991px)
{
.main_wrapper.active
{
margin-left: -220px;
}	
.main_wrapper.active .navbar-static-top
{
margin-left:38px;	
}	
.navbar-toggle {
    display: block;
}
.mobile-menu-sidebar.active
{
right:0px;
}
.navbar-header
{
margin-left: -15px;
margin-right: -15px;
float: none;
}
.mobile-menu > li 
{
width:100%;	
}
.main-navbar, #main-navbartop
{
display:none;	
}
	
.content-container
{
min-width:100%; 
border:none;
padding:0 0px 30px;	
}
.content-container.fixed-side
{
margin-left:0;
}	
.sidebar
{
display:none;
}	

.main-menu > li > a {
    font-size: 15px;
    padding: 13px 8px;
}

.sidebar-btn {
    display: block;
    left: 10px;
    position: absolute;
    top: 70px;
    z-index: 1000;
}
.sidebar-close
{
display: block;
 background: #01314c none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 17px;
    padding: 7px 12px;
    position: absolute;
    right: -36px;
    top: 0;	
}
.side-nav li a
{
color:#fff;	
}
.meter-des
{
max-width:246px;
margin:0 auto;	
 padding: 20px 30px;
}
.score-meter {
    padding-top: 15px;
}
.provided-by span
{
width:100%;
text-align:center;
display:block;
 padding: 5px 0 10px;
}
.factors-score-meter .provided-by
{
 margin-bottom: 20px;	
}
.provided-by img
{
float: none;
margin: 0;
}
.pagination-nav
{
text-align:center;	
}
.pagination-nav .pagination 
{
float: none !important;
}
.dispute-message
{
margin: 30% auto;
padding: 30px;	
}

.simulate-box
{
max-height:100%;
text-align:center;	
}
.simulate-box .padd_right_0
{
padding-right:15px;	
}
.simulate-box .padd_left_0
{
padding-left:15px;	
}
.dispute-light-box .table-responsive
{
overflow-x: scroll;
}
.table .fancy-select
{
min-width:130px;	
}
.credit-report .tab-pane 
{
padding: 25px 20px;
  max-width: 100%;
    overflow-x: scroll;
}

.report-overview-right
{
border-left:none;
margin-top:20px;
padding-left:15px;	
}

}
/* ============================ */

@media(max-width: 768px)
{

}
/* ============================ */

@media (min-width: 767px){
    .navbar-nav > li:hover .dropdown-menu
	{
/*     display: block; */
    } 
}
/* ============================ */

@media(max-width: 767px)
{
body
{
padding-top:64px;	
}	
.navbar-static-top
{
position:fixed;
top:0;
box-shadow:none;	
}
form
{
padding:0 20px;	
}
.navbar-header
{
border-bottom: 1px solid #ddd;
}

.navbar-brand img
{
display:inline;	
}
.main_wrapper.active .navbar-static-top
{
margin-left:80px;	
}	
.main-navbar
{
display:none;	
}

.section-title form
{
margin-right:15px;	
}
.section-title form .form-group
{
float:left;
margin-right:8px;
margin-bottom: 0;	
}
.factor-des
{
text-align:center;
margin-bottom:15px;	
}
.Coordinator-desc div:first-child
{
border-bottom:none;	
}
.factor .your-score
{
padding:48px 0px  22px;	
}
/*  */

.hidden-sr
{
display:none;	
}
.content-container
{
transition: all 0.6s ease;	
}
.padd_0
{
padding:0 15px;	
}
.padd_right_0
{
padding-right:15px;	
}
.padd_left_0
{
padding-left:15px;	
}
form .form-control
{
margin-bottom:10px;	
}
.profile, .text-right
{
text-align:center;	
}
.dispute-progress
{
padding-left:0;	
}
.user-description i
{
float:none;	
}
.tools
{
padding:30px;	
}
.dispute-light-bottom .padd_0
{
padding:0;	
}
.dispute-light-bottom .checkbox 
{
margin-bottom:10px;	
}
.dispute-light-bottom .show-rows 
{
margin-top:10px;	
}
.dispute-light-box form
{
padding:0;	
}
.dispute-short-detail-divider
{
display:block;	
}
.credit-report .nav-tabs > li > a {
    font-size: 14px;
    padding: 10px 7px;
}
.credit-report .label-default
{
float:none;	
}

}
/* ============================ */
@media(max-width: 640px)
{
.factors-score-meter
{
display:none;	
}

}
/* ============================ */

@media(max-width: 639px)
{


.tools .row > div
{
width:100%;	
}


.your-score .factor-rating {
 margin-bottom:10px;
}
.your-score p {display: block;}
.your-score .factor-rating.active::after
{
 left: auto;
    right: -58%;
    top: 24px;
}
.your-score .factor-rating.active::before
{
left: auto;
    right: -9px;
    top: 35px;
    transform: rotate(90deg);	
}
.credit-report .nav-tabs
{
padding:0 5px;	
}
.credit-report .nav-tabs > li 
{
display: block;
float: none;
text-align: center;
}
.credit-report .nav-tabs > li.active a
{
border-bottom:1px solid #ddd;	
}
.credit-report .nav-tabs > li.active > a:after
{
content:none;	
} 

}
/* ============================ */
@media(max-width: 560px)
{
.Disputed-data .table img
{
max-width:none;	
}	
.dispute-message
{
margin: 30% 20px;
}
}
/* ============================ */
@media(max-width: 480px)
{
.upload-documents .btn-primary 
{
width:100%;
}	
.my-account-content 
{
padding: 25px 19px;
text-align: justify;
}
.dispute-light-box .modal-content 
{
padding: 0 15px 20px;
}
.dispute-full-detail-des
{
padding: 19px 15px;	
}
.dispute-short-detail
{
 padding: 29px 10px;	
}

/*  */
.meter-des {
    max-width: 200px;
    padding: 8px 20px;
}
.score-rating
{
font-size:12px !important;	
}
.score-count
{
font-size: 70px !important;
letter-spacing: -4px !important;
}
.progress-counting li
{
font-size: 10px !important;	
}
.progress-container
{
max-width: 200px !important;	
}
.progress-container .progress-bar
{
background-size:6px !important;	
}
.meter-progress
{
 height: 20px !important;	
}
.updation 
{
padding:0 !important;
font-size:12px !important;	
}
.provided-by
{
font-size: 15px !important; 
display: block !important; 
margin-bottom:10px !important;
}
.provided-by span
{
width: auto !important;	
display: inline !important;
font-size: 13px;
}
.provided-by img 
{ margin: -9px 0 0 !important;; max-height:21px !important;}
.meter-des
{
font-size: 15px !important;	
}
.section-sub-title h3 > img
{
display:none;	 
}
.meter-des
{
display:none;	
}
.subtitle 
{
font-size: 14px;
}
}
/* ======================= */
@media(max-width: 479px)
{
.section-title
{
text-align:center;	
}	
.section-title h3
{
float:none;	
}
.factor-des .panel-title span
{
display:block;	
}
.section-title form 
{  
float: none;
margin: 13px 0 0;
text-align: center;
width: 100%;
}
.section-title form .form-group
{
display: inline-block;
float: none;	
}
.nagatives-bargraph
{
padding-left:0;	
}

#graph
{
max-width:100%;
overflow:hidden;	
}
.Disputed-data .table img
{
max-width:85px;	
}
.Disputed-data .table tr th,
.Disputed-data .table tr > td 
{
padding: 10px 5px;
}
.Score-Simulator > div
{
width:100%;	
}
.simulate-title 
{
height: auto;
padding: 10px 0;
}
.simulate-box
{
padding: 30px 20px;	
}
.dispute-short-detail h1 
{
font-size: 70px;
}

.dispute-message .btn-xl {
display: block;
    padding: 15px 0;
    text-align: center;
}
.nagative-pie-container
{
padding: 0;	
}
.subtitle 
{
font-size: 14px;
}
.report-amount
{
padding:0;	
}
}
/* ============================= */
@media(max-width: 360px)
{
.btn-lg {
    font-size: 18px;
    padding: 14px 25px;
}
.nagative-pie-container 
{
padding:0;	
}
.c100
{
font-size:130px;	
}
.c100 > span
{
font-size: 55px;	
padding-top: 24px;
}

}

@media(max-width: 320px)
{
.subtitle 
{
font-size: 15px;
}

}