@import url(circle.css);
@import url(morris.css);
@import url(lightbox.min.css);
body
{
    color: #777;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    text-rendering: optimizelegibility;
	font-weight:300;
	/* transition: all 0.6s ease; */
}
html.active body
{
overflow:hidden;
max-height:100%;
}
label
{font-weight:normal;}
.main_wrapper
{
transition: margin 0.4s ease 0s;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-weight: normal;
}
strong
{
font-weight:normal;	
color:#555;	
}
.table.no-border tr > td,
.table.no-border tr > th
{
border:none;	
}
table th
{
font-weight:normal;		
}
.less-border-table > tbody > tr > th,
.less-border-table > tbody > tr > td
{
padding: 15px 20px;	
border:none;
border-top:1px solid #ddd;
}
img
{
max-width:100%;
}
.btn.help 
{
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
color: #d1d1d1;
 font-size: 17px;
    margin-left: 5px;
padding: 0;
}
.btn.help:hover,.btn.help:focus
{
background:none;
outline:none;
color:#0193b6;
box-shadow:none;	
} 

.blank-click
{
position:fixed;
width:100%;
top:0;
height:100%;	
}
.form-control
{
border-radius:2px;
box-shadow:none;
height:45px;
font-size:18px;
}
.input-group-addon
{
background:none;
border-radius:2px;	
}
.fancy-select
{
 -moz-appearance: none;
 -webkit-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0) url("../images/fancy-select.png") no-repeat scroll right center;
  width:100%;
/*   min-width: 130px; */
 padding-right: 25px;
  
}
select.input-sm
{
font-size: 13px;
line-height: 19px;	
}
p {
    color: #777;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 23px;
}
a
{
color:#01314c;	
transition: all 0.3s ease;	
}
a:hover
{
text-decoration:none;
}
.padd_right_0
{
padding-right:0;	
}
.padd_left_0
{
padding-left:0;	
}
.padd_0
{
padding:0;	
}
.border-top-0
{
border-top:none;	
}
section
{
float:left;
width:100%;
padding:30px 0 30px 30px;	
}
center .btn
{
margin:15px 0;	
}
.main-container
{
position:relative;
min-height:470px;
}
/* ----------  Buttons Start ---------------*/
.btn
{
border:none;
border-radius:2px;
font-weight:normal;
}
.btn:focus,
.btn:hover
{
outline:none;	
}
.btn-md
{
font-size: 17px;
padding: 11px 24px;	
}
.btn-lg
{
 font-size: 20px;
padding: 14px 40px;
}
.btn-xl
{
 font-size: 25px;
 padding: 11px 40px;
}
.btn-success
{
background:#8dab00;
color:#fff;
}
.btn-success-outline
{
background:none;
color:#8dab00;	
border:1px solid #8dab00;
}
.btn-success-outline:hover
{
background:#8dab00;	
color:#fff;
}
.btn-white-outline
{
background:none;
color:#fff;	
border:1px solid #fff;
}
.btn-white-outline:hover
{
background:#fff;	
color:#19355c;
}
.btn-info
{
background:#19b1bb;
color:#fff;
}
.btn-red
{
  background: #df5b48 none repeat scroll 0 0;
    color: #fff;
	text-transform:uppercase;
}
.btn-red:hover
{
background:#45b39c;
color:#fff;	
}
.btn-primary
{
background:#0193b6;	
}
.btn-primary:hover
{
background:#01314C;	
}
.btn-orange
{
background:#ff7f01;	
color:#fff;
}
.btn-orange:hover
{
background:#d36745;	
color:#fff;
}
.btn-primary-outline 
{
border: 1px solid #0193b6;
color:#0193b6;
background:none;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus
{
background:#0193b6 ;
color:#fff;
}
.btn-blue
{
background:#6cb886;
color:#fff;	
}
.btn-blue:hover
{
background:orange;
color:#fff;	
}
.btn-gray
{
background:#a7a7a7;
color:#fff;	
}
.btn-default
{
   background:none;
    border: 1px solid #ccc;
    color: #777;	
}
.btn i
{
/*   float: left;
    font-size: 16px;
    line-height: 0;
    padding-right: 2px; */
}
/* ----------  Buttons Start ---------------*/

/* ============ header======== */
.header
{
margin-bottom:0;	
}
.navbar-toggle {
    color: #999;
    font-size: 27px;
	line-height: 0;
}
.navbar-toggle i
{	line-height: 0;}
.navbar-toggle:hover{color:#01314c;}
.navbar-toggle.toggle-close i:before
{
content:"\f2d7";	
}

.navbar-toggle.closed
{
  min-height: 100%;
    opacity: 0;
    position: fixed;
    width: 100%;
	cursor:auto;
	left:0;
}

.navbar-brand 
{
height: auto;
padding: 11px 0;
}
.navbar-brand > img {
    display: block;
}
.navbar-static-top {
   background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0 2px #a5a5a5;
    width: 100%;
}
.loged-user
{
margin:0;	
}
.loged-user > li > a
{
padding: 20px 0;
font-size:16px;
color:#ef8e27;
font-weight:normal;	
}
.loged-user > li > a:focus,
.loged-user > li > a:hover,
.loged-user > li.open > a:focus
{
background:none;
color:#ef8e27;	
}
.loged-user > li:hover .dropdown-menu
{
display:block;	
}
.loged-user > li > a >img
{
margin: -3px 0 0;	
}
.loged-user .dropdown-menu
{
padding:0;
min-width:200px;
border-radius:2px;	
}
.loged-user .dropdown-menu  li a
{
padding:10px 20px;	
}
.navbar-nav li .dropdown-menu > li > a i
{
float: left;
min-width: 20px;
}
.dropdown-menu .divider
{
margin:0;	
}
.main-navbar
{
background:#01314c;	
transition: all 0.6s ease;
}
.main-navbar.fixed
{
position:fixed;
top:0;	
width:100%;
z-index:2147483647;
}
.main-navbar .loged-user 
{
display:none;	
}
.main-menu
{
display: table;
float: none; 
 margin: 0 auto;
}
.main-menu > li > a
{
color:#fff;	
font-weight:normal;
}
.main-menu > li > a:focus,
.main-menu > li > a:hover,
.main-menu > li.open > a:focus,
.nav.main-menu > li.open > a,
.main-menu > li.active > a
{
background:none;
color:#ef8e27;	
}
.main-menu li .dropdown-menu
{ 
padding:0;
border-radius:2px;	
opacity:0;
}

.main-menu li .dropdown-menu > li > a
{
color: #555;
padding: 11px 23px;	
}
.main-menu li .dropdown-menu > li > a i
{
font-size:16px;	
}
/*  */

.main-navbar.active .toggle-close
{
 border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    height: 34px;
    line-height: normal;
    margin-top: 12px;
    width: 34px;
    z-index: 1000;
}
.main-navbar.active .toggle-close i
{float: none;
    font-size: 20px;
    line-height: 0;
    position: relative;
    top: -11px;}


/* =====================  MOBILE -NAV  ========================*/
.mobile-menu-sidebar
{
height: 100%;
width: 220px;
position: fixed !important;
right: -220px;
top: 0;
transition: right 0.4s ease 0s;
background: #01314c;
overflow-x: scroll;	
}

.mobile-menu
{
margin:0;	
}
.mobile-menu.fixed
{
position:static;
overflow-y:scroll;
min-height:100%
}	
.loged-user
{
text-align:center;	
}

.mobile-menu > li > a
{
border-bottom:1px solid #093a5d;	
padding: 13px 24px;
color:#fff;
font-weight: normal;
 font-size: 15px;
}
.navbar-nav.mobile-menu li > .dropdown-menu 
{
background:#002540 none repeat scroll 0 0;	
width:100%;
opacity:1;
}
.navbar-nav.mobile-menu li > .dropdown-menu > li > a
{
  color: #fff;
    padding: 13px 24px;
}
.mobile-menu .open > a, 
.mobile-menu .open > a:focus, 
.mobile-menu .open > a:hover,
.mobile-menu > li > a:hover,
.mobile-menu > li > a:focus,
.navbar-nav.mobile-menu li > .dropdown-menu > li > a:hover,
.navbar-nav.mobile-menu li.dropdown > .dropdown-menu > li > a:focus
{
background:none;
color:#ef8e27;	
outline:none;
border-color:#133853;
}
.mobile-menu li.dropdown > a:after
{
content:"\f3d0";
font-family: Ionicons;
font-size: 18px;
position: absolute;
right: 22px;
top: 13px;
}
.mobile-menu li.dropdown.open > a:after
{
content:"\f3d8";	
}
.mobile-menu .loged-user 
{
display:block;	
}

.mobile-menu.active .loged-user > li > a
{
 color: #fff;	
}
.mobile-menu li.dropdown.user > a:after
{
content:none;	
}
.mobile-menu-sidebar .toggle-close {
 border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    font-size: 18px;
    height: 34px;
    line-height: 0;
    margin: 7px;
    padding: 0;
    text-align: center;
    width: 34px;
    z-index: 1000;
	 position: absolute;
    right: 0;
}
.mobile-menu-sidebar .toggle-close:hover
{
background:#fff;
color:#01314c;	
 border: 1px solid #fff;
}
.mobile-menu .dropdown-menu .divider
{
background-color:#093a5d;	
}
/* .loged-user > li.open .dropdown-menu
{
background: #eee none repeat scroll 0 0;
border-top: 1px solid #ccc;	
}
.loged-user > li.open .dropdown-menu,
.loged-user > li .dropdown-menu
{
background:#002540;	
border-top:none;
width:100%;
 color: #fff;
}
.loged-user > li.open .dropdown-menu > li > a,
.loged-user > li .dropdown-menu > li > a
{
color: #fff;
padding: 10px 20px;
}
.loged-user > li.open .dropdown-menu > li.divider
{
   background-color: #1a2d50;	
}
.loged-user > li.open .dropdown-menu > li > a:hover
{
background:none;	
 color: #ef8e27;	
} */

/* ==================   MOBILE -NAV  ==========================*/

/* ============ header END ======== */
.sidebar
{
max-width:197px;
padding: 0;
}
.sidebar.fixed
{
position:fixed;	
top: 50px;
}
.side-nav li.divider
{
border-bottom:1px solid #eee;	
}
.side-nav li a
{
color: #555;
    font-weight: normal;
    padding: 15px 0;
	font-size:15px;
}
.side-nav li a i
{
float: left;
    font-size: 20px;
    line-height: 23px;
    min-width: 22px;
    padding-right: 6px;
    text-align: center;
}

.side-nav > li > a:focus,
.side-nav > li > a:hover,
.side-nav > li.open > a:focus,
.side-nav > li.active > a
{
background:none;
color:#ef8e27;
outline:none;	
}
.sidebar-title {
  border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 12.5px 0;
	 font-size: 24px;
}
/* ============ side-nav END ======== */

.content-container
{
border-left:1px solid #ddd;	
padding-left:0;
min-width:83%;
padding-bottom: 30px; 
min-height:480px;
}
.content-container.fixed-side
{
margin-left:17%;	
}
.section-title 
{
border-top:1px solid #ddd;	
border-bottom:1px solid #ddd;	
padding: 20px 0;
float:left;
width:100%;
}
.content-container .section-title:first-child,
.content-container .section-title.section-sub-title
{
  border-top: medium none;
    padding: 16px 0;	
} 
.content-container .section-title.section-sub-title h3
{
font-size:14px;	
padding-top: 3px;
}
.section-title h3
{
margin:0;
font-size:18px;
float:left;
padding:0px 30px
}
.section-title .btn i
{
padding-right: 0;
}
.btn-print
{ padding: 4px 10px;}
.section-title h3 img
{
 margin: -9px 0 0;
    max-height: 20px;	
}
.section-title .form-control
{
height: 30px;
padding: 0 8px;	
font-size: 15px;
 min-width: 132px;
}
.section-title form
{
margin: -5px 0 -7px;
}
.subtitle
{
font-size:16px;	
margin:5px 0 20px;
}
.section-title.simple
{
border:none;
padding-top:0 !important;	
}
.section-title.simple h3
{
padding:0;
}

/* ============ content-container END ======== */

.copyright {
    background: #424a4d none repeat scroll 0 0;
    color: #848788;
    font-size: 15px;
    padding: 30px 0;
}
.copyright a {
    color: #848788;
}
.copyright a:hover {
    color: #ef8e27 ;
    text-decoration: none;
}
.footer-nav
{
float:right;	
}
.footer-nav li a
{
padding: 0 11px;
    text-align: right;
}
.footer-nav li a:hover
{
background:none;	
}
/* ============ copyright END  ============ */
.score-meter
{
padding-top:30px;	
}
.provided-by
{
font-size:20px;
color:#999999;
text-align:center;	
position:relative;
}
.provided-by span
{
padding:26px 0 10px;
text-align:right;	
}
.provided-by img
{
float:left;
margin-left:20px;	
}

.score-count
{
font-size:114px;
text-align:center;	
font-weight:normal;
color:#555555;
letter-spacing:-7px;
line-height:normal;
}
.score-rating
{
font-size:30px;
text-align:center;
color:#555555;
font-weight:100;	
}
.score-rating strong
{
font-weight:400;
color:#72b862;	
}
.progress-container
{
margin: 5px auto 8px;
max-width: 516px;
padding-top: 10px;
position: relative;	
}
.meter-progress
{
height:29px;
box-shadow:none;
border-radius:18px;
position: relative;	
margin-bottom: 8px;
}
.meter-progress span
{
height:29px;
float:left;	
}
.meter-progress .poor
{
background:#c82525;	
width:25%;
}
.meter-progress .fair
{
background:#e16d6d;	
width:19%;
}
.meter-progress .average
{
background:#ffbe10;	
width:14%;
}
.meter-progress .good
{
background:#72b862;	
width:17%;
}
.meter-progress .excellent
{
background:#249e08;	
width:25%;
}
.progress-container .progress-bar
{
 background: rgba(0, 0, 0, 0) url("../images/meter-arrow.png") no-repeat scroll right 4px;
    box-shadow: none;
    padding-top: 0;
    position: absolute;
    top: 0;
    z-index: 100;
}
.progress-counting
{
padding: 0;
bottom:0;
} 
.progress-counting li
{
    color: #999;
    float: left;
    font-size: 18px;
    text-align: center;
    width: 16.5%;
}
.progress-counting li:first-child
{
text-align:left;	
}
.progress-counting li:last-child
{
text-align:right;	
}
.meter-des
{
  border: 1px solid #c7c7c7;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 70px;
    padding: 20px 30px;
}

.meter-des p
{
margin:0;
 padding: 4px 0;	
}
.meter-des p span
{
    float: left;
    height: 14px;
    margin: 5px 8px 0 0;
    width: 14px;	
}
.meter-des .poor
{background:#c82525;}
.meter-des .fair
{background:#e16d6d;}
.meter-des .average
{background:#ffbe10;}
.meter-des .good
{background:#72b862;}
.meter-des .excellent
{background:#249e08;}
.meter-des .blue
{background:#29a2cc;}
.meter-des .red
{background:#d31e1e;}
.meter-des .green
{background:#7ca82b;}
.updation
{
padding:15px;	
}
/* ============ METER END  ============ */
.nagative-pie-container
{
border-right:1px solid #ddd;	
}
.nagative-pie
{
margin-bottom:45px;	
}
.c100
{
float:none;
margin:0 auto;	
font-size:150px;
}
.c100 > span
{
 color: #555;
    font-size: 67px;
    font-weight: 500;
   /*  height: 100%; */
   /*  letter-spacing: -6px; */
    line-height: 75px;
    padding-top: 33px;
    text-align: center;
    width: 100%;
}
.c100 > span .small
{
  bottom: 24px;
    font-size: 20px;
    line-height: 0;
    position: absolute;
}
.c100 > span small
{
 color: #555;
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0;	
}
tspan 
{
/* font-size:11px !important;	 */
}

/* ============ .nagative-pie END ============ */
.Disputed-data
{
font-size:15px;		
}
.Disputed-data .table tr > th
{
text-align:center;	
padding:15px;
color:#555;
font-weight:normal;
}
.Disputed-data .table tr > td
{	
padding:15px;
}
.Disputed-data .table tr > td:first-child
{
font-weight:normal;
}

/* ============ Disputed-data END ============ */

.Coordinator-desc
{
font-size:18px;
font-weight:300;
}
.Coordinator-desc div
{
border:1px solid #ccc;	
padding:15px 20px;
}
.Coordinator-desc div:first-child
{
border-right:none;	
}
.Coordinator-desc i
{
  float: left;
    font-size: 25px;
    line-height: 25px;
    margin-right: 5px;
    margin-top: 1px;
}
/* ============ Coordinator-desc  END============ */
.factor .poor
{background:#e16d6d;}
.factor .very-poor
{background:#c82525;}
.factor .fair
{
background:#ffbe10;	
}
.factor .average
{
background:#ffbe10;	
}
.factor .good
{
background:#72b862;	
}
.factor .excellent
{
background:#249e08;	
}
.factors .panel-group .panel + .panel
{
margin:0;
border-radius:0;	
}
.factors-score-meter
{
padding-left:0;	
}
.factors-score-meter .updation 
{
font-size: 13px;
margin: 0;	
}
.factors-score-meter  .provided-by
{
padding-left:0;	
}
.factors-score-meter .provided-by span
{
display: block;
padding-bottom: 0;
text-align: center;
}
.factors-score-meter .provided-by img
{
margin-left:0;	
float:none;
}
.factor
{
border:1px solid #cccccc;	
border-radius:0;
  box-shadow: none;
  border-bottom:none;
}
.factor:first-child
{
border-radius:2px 2px 0 0px;	
}
.factor:last-child
{
border-radius:2px 2px 0 0px;
border-bottom:1px solid #cccccc;		
}
.factor > .panel-heading
{
background:none;	
padding:19px 15px;
}
.factor > .panel-heading:hover,
.factor > .panel-heading.active
{
background:#eeeeee;	
}
.factor-des .panel-title
{
font-size:20px;
line-height:normal;	
color:#01314c;	
padding-bottom:5px;
}
.factor-des .panel-title span
{
font-size:16px;
color:#555555;
padding-left: 10px;	
}
.factor-des .panel-title span img
{
margin:-3px 2px 0 0 ;
}
.factor-des p
{
margin:0;
font-size:16px;
line-height:normal;	
}

.factor-rating
{
  border-radius: 100%;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 90px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    width: 90px;
}
.factor-rating strong
{
color:#fff;	
}
.factor-rating .factor-percentage
{
 display: block;
    line-height: 13px;
    margin: 0;
    padding-top: 18px;
}
.factor .view-detail
{
height: 40px;
margin-top: 18px;
min-width: 112px;
position: relative;
text-align: center;
}
.factor .view-detail.collapsed:after
{
content:"View Details";
position:absolute;
left: 15%;
top: 9px;	
}
.factor .view-detail:after
{
content: "Close Details";
left: 13%;
position: absolute;
top: 9px;
}


.factor  .panel-body
{
padding-top:40px;	
}
.factor .your-score
{
 border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 20px;
    padding: 48px 70px 22px;	
}
.your-score p
{
display:inline-block;	
}
.your-score .factor-rating
{	
position:relative;	
}
.your-score .factor-rating.active:after
{
background: #0193b6 none repeat scroll 0 0;
    border-radius: 100%;
    content: "YOU";
    font-size: 15px;
    font-weight: 300;
    height: 40px;
    left: 26%;
    line-height: 40px;
    position: absolute;
    right: auto;
    top: -49px;
    width: 42px;
}
.your-score .factor-rating.active:before
{
border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #0193b6;
    content: "";
    height: 20px;
    left: 37px;
    position: absolute;
    top: -11px;
}
.account-usage
{
padding-top:5px;	
}
.account-usage .progress
{
margin-bottom:0;	
border-radius:25px;
}
.account-usage p
{
font-size:13px;	
}
/* ============ Credit Factors  END============ */
.table.nagative-details-table
{
margin-left: 1px;
max-width: 99.8%;	
}
.nagative-details-table .fancy-select
{
font-size:14px;	
}
.pagination
{
margin:0;	
}
.table.nagative-details-table .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn)
{
width:100%;	
}
.table.nagative-details-table .bootstrap-select .btn img
{
  max-height: 15px;	
}
.table.nagative-details-table .bootstrap-select > .dropdown-toggle
{
padding: 0 0 0 6px;	
}
.table.nagative-details-table tbody tr
{
border-right:1px solid #ddd;
border-left:1px solid #ddd;	
}
.table.nagative-details-table tbody tr:last-child
{
border-bottom:1px solid #ddd;	
}
.table.nagative-details-table tr > td
{
padding:25px 15px;
 vertical-align: middle;	
}
.table.nagative-details-table tr > th
{	
font-weight:normal;	
border:none;
border-bottom:1px solid #ddd;
color:#555555;
}

.nagative-details-table a
{
font-weight:400;	
}
.nagative-removed
{
font-weight:400;
color:#4e9515;	
}
.table.nagative-details-table tbody td i
{
float: left;
font-size: 22px;
line-height: 0;
padding-right: 5px;
}
.dispute-status img
{
max-height:40px;	
}
.pagination-nav .form-control
{
max-width:65px;	
}
.pagination > li > a
{
color:#555;	
}
.pagination > li.active > a
{
background:#0193b6;	
border-color:#0193b6;
}
form.bureaus
{
margin:-11px 0 -9px;	
}
.short-detail-nagatives
{
border: 1px solid #ccc;
    border-radius: 2px;
    color: #999;
    font-weight: 400;
    margin: 0 auto;
    max-width: 263px;
    padding: 15px 0;
    text-align: center;	
} 
.short-detail-nagatives a
{padding:0 10px;}
.short-detail-nagatives .remaining
{
color:#ef8e27;	
}
/* ============ nagative-details  END============ */
.upload-documents form
{
padding-top:30px;	
}
.documents-progress
{
border-radius: 15px;	
}
.documents-progress .completed 
{
 background: #a2a2a2 none repeat scroll 0 0;
    color: #fff;
    font-weight: 500;
    padding: 1px 9px;
    position: absolute;
    top: 0px;
}

.documents-progress .completed:after
{
  border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #a2a2a2;
    bottom: -20px;
    content: "";
    height: 20px;
    left: 41%;
    position: absolute;
}
 
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box
{
font-size: 1.25rem; /* 20 */
background-color: #eeeeee;
position: relative;
padding: 30px 20px;
text-align:center;
border:1px solid #ccc;
border-radius:2px;
}
.box-input i
{
font-size:130px;	
line-height:normal;
}
.box.advanced-upload
{
outline-offset: -10px;
-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.is-dragover
{
outline-offset: -20px;
outline-color: #c8dadf;
background-color: #fff;
}
.box__dragndrop,
.box__icon
{
display: none;
}
.box.advanced-upload .box__dragndrop
{
display: inline;
}
.box.advanced-upload .box__icon
{
width: 100%;
height: 80px;
fill: #92b0b3;
display: block;
margin-bottom: 40px;
}

.box.is-uploading .box-input,
.box.is-success .box-input,
.box.is-error .box-input
{
visibility: hidden;
}

.box__uploading,
.box__success,
.box__error
{
display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
display: block;
position: absolute;
top: 50%;
right: 0;
left: 0;
-webkit-transform: translateY( -50% );
transform: translateY( -50% );
}
.box__uploading
{
font-style: italic;
}
.box__success
{
-webkit-animation: appear-from-inside .25s ease-in-out;
animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
from	{ transform: translateY( -50% ) scale( 0 ); }
75%		{ transform: translateY( -50% ) scale( 1.1 ); }
to		{ transform: translateY( -50% ) scale( 1 ); }
}
						
.box__restart
{
font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
color: #39bfd3;
}

.box__file
{
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.box__file + label
{
max-width: 80%;
text-overflow: ellipsis;
white-space: nowrap;
cursor: pointer;
display: inline-block;
overflow: hidden;
  font-size: 18px;
}
.box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong
{
color: #39bfd3;
}
.box__file:focus + label,
.box__file.has-focus + label
{
outline: 1px dotted #000;
outline: -webkit-focus-ring-color auto 5px;
}
.box__file + label *
{
/* pointer-events: none; */ /* in case of FastClick lib use */
}
.no-js .box__file + label
{
display: none;
}
.no-js .box__button
{
display: block;
}
.box__button
{
font-weight: 700;
color: #e5edf1;
background-color: #39bfd3;
display: none;
padding: 8px 16px;
margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus
{
background-color: #0f3c4b;
}

.my-documents .document
{
background:#eeeeee;
border:2px solid #ccc;
border-radius:2px;
display:block;	
min-height:116px;
line-height:116px;
text-align:center;
font-weight:500;
font-size:15px;
color:#666;
position:relative;
}
.delete-doc 
{
 background: #fff none repeat scroll 0 0;
    border-radius: 100%;
    color: #777;
    font-size: 21px;
    height: 21px;
    line-height: normal;
    position: absolute;
    right: -9px;
    top: -11px;
    width: 21px;
display:none;	
}
.delete-doc:hover
{
color:#f00;
cursor:pointer;	
} 
.my-documents .document:hover .delete-doc 
{
display:block;	
}
.my-documents > div
{
margin-bottom:20px;	
}
.my-documents h5
{
font-weight:500;
color:#666;	
}
.my-documents .document.filled
{
border:2px solid #63b030;	
}
/* ============ upload-decuments  END============ */
select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}
.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/
}
.bootstrap-select > .dropdown-toggle {
  width: 100%;
  padding-right: 10px;
  z-index: 1;
  background:none !important;
  box-shadow:none;
}
.bootstrap-select .btn
{
border: 1px solid #ccc !important;
    box-shadow: none !important;
    color: #666;
    white-space: normal;
	 line-height: normal;
}
.bootstrap-select .btn > i
{
border-left: 1px solid #ccc;
float: right;
padding: 6px 8px 6px 16px;	
}
.bootstrap-select .btn img
{
margin-top: 5px;
max-height: 22px;	
}
.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
}
.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2;
}
.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none;
  background:none;
}
.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}
.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}
.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.btn-group.bs-container {
  position: absolute;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu {
  z-index: 1060;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
top:93%;
border:1px solid #ccc;
border-radius:2px;
padding:0;		  
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
  color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    padding: 10px 16px;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li a img
{
max-height:25px;	
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify 
{
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ============ FANCY SELECT ============ */
.internal-banner
{
background: #0193b6 none repeat scroll 0 0;
color: #fff;
padding: 30px 0;
}
.internal-banner h3
{
color:#fff;	
}
.internal-banner p
{
color:#fff;
font-size:18px;	
} 
.internal-banner .search-form
{
margin-top:20px;	
}
.internal-banner .search-form .form-control
{
  border: medium none;
    font-size: 25px;
    height: 70px;
    padding: 0 0 0 35px;
}
.internal-banner .search-form .input-group-addon
{
background:#fff;
border:none;	
}
.internal-banner .search-form .input-group-addon i
{
border-left: 1px solid #ddd;
color: #999999;
font-size: 40px;
 padding: 0 18px 0 27px;
}
/* ============ internal-banner END============ */
.my-account-content 
{
padding:30px 0 0 30px;	
}
.my-account-content p
{
border-bottom: 1px solid #ddd;
padding-bottom: 25px;
}
.my-account-content:last-child p
{
border:none;	
}

/* ============ Myaccount-page ============ */
.FAQ .panel {
    box-shadow: none;
}
.FAQ .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
}
.FAQ .panel-title 
{
font-weight:normal;	
}
.FAQ .panel-title a {
    color: #777;
    display: block;
    font-size: 21px;
    padding: 15px 10px;
    position: relative;
    text-decoration: none;
	font-weight:normal;
	font-size:18px;
}
.FAQ .panel-title a:hover
{
color:#0193b6;	
} 
.FAQ .panel-title a:before {
    content: "\f142";
    display: inline-block;
    font-family: "ionicons";
    font-style: normal;
    line-height: 1;
    margin-right: 5px;
    min-width: 15px;
    position: relative;
    top: 1px;
}

.FAQ .panel-title a:after {
    content: "\f3d8";
    display: inline-block;
    font-family: "ionicons";
    font-style: normal;
    line-height: 1;
    margin-right: 5px;
    min-width: 15px;
    position: relative;
    top: 15px;
    right: 11px;
    position: absolute;
}
.FAQ a.collapsed:after {
    content: "\f3d0";
}

/* ============ FAQ ============ */
.login-box {
    margin: 50px auto;
    max-width: 480px;
    position: relative;
}
.login_form {
 background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 2px #cccccc;
    margin: 20px 0 15px;
    padding: 35px 35px 20px;
}
.login_form .form-group {
    position: relative;
}
.login_form .form-control
{
padding-left:45px;
height:48px;	
}
.login_form .form-group i {
color: #999;
    font-size: 28px;
    left: 18px;
    position: absolute;
    top: 4px;
}
.login_form img
{
max-height:60px;	
}
.login_form h3
{
border-bottom: 1px solid #e1e1e1;
font-weight: 300;
padding-bottom: 12px;	
margin-bottom:25px;
}

/* ============ Login END ============ */

.current-email
{
font-size: 18px;
padding: 6px 0 0;
}
.communication .current-email
{
padding-top:0;	
}
.communication .radio 
{
padding-top:0;	
}
.communication-table
{
margin-top:10px;	
}
.communication-table h5
{
font-size: 16px;
margin: 0;	
}
.communication-table .row
{
 border-top: 1px solid #ddd;
    margin: 0;
    padding: 18px 0;	
}

.communication-table .checkbox 
{
padding-top:0;	 
}

/* ============ communication END ============ */
/* ========== FANCY CHECKBOX ===========  */
.fancy_checkbox label
{
padding-left:0;
font-size: 16px;
transition: all ease-in-out 0.3s;
}
.fancy_checkbox input[type="checkbox"]
 {display: none;}
.fancy_checkbox input[type="checkbox"]+span:before
{
	position: relative;
	transition: all ease-in-out 0.3s;
	display: inline-block;
	font-family: "Ionicons";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
	top: 3px;
	min-width: 15px;
	 font-size: 25px;
}
.fancy_checkbox input[type="checkbox"]+span:before 
{content: "\f372";color: #0193b6 ;}
.fancy_checkbox input[type="checkbox"]:checked + span::before 
{color: #0193b6 ;content: "\f374";}
.fancy_checkbox-sm.fancy_checkbox input[type="checkbox"] + span::before
{
 font-size: 22px	
}
.fancy_checkbox-xs.fancy_checkbox input[type="checkbox"] + span::before
{
 font-size: 18px;	
  top: 2px;
}
.fancy_checkbox-xs.fancy_checkbox label
{
  font-size: 14px;
  font-weight: 300;
}
.table .fancy_checkbox
{
margin:0;	
}
/* ========== FANCY CHECKBOX END===========  */
/* ========== FANCY Radio ===========  */
.fancy_radio label
{padding-left:0;font-size: 16px;}
.fancy_radio input[type="radio"]
 {display: none;}
.fancy_radio input[type="radio"]+span:before
{
	position: relative;
	display: inline-block;
	font-family: "Ionicons";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
	top: 3px;
	min-width: 15px;
	 font-size: 25px;
}
.fancy_radio input[type="radio"]+span:before {
	content: "\f3a6"; 
	color: #999999 ;
}
.fancy_radio input[type="radio"]:checked + span::before 
{
    color: #0193b6 ;
    content: "\f3a7";
}
.fancy_radio input[type="radio"]:checked + span
{ color: #0193b6 ;}
/* ========== FANCY Radio END===========  */
.user-description i
{
float: left;
font-size: 20px;
min-width: 26px;
}
/* ========== Profile END===========  */
.dispute-progress
{
position:relative;		
}
.dispute-selection
{
  background:rgba(255,255,255,0.8);
  filter:blur(6px);
  -o-filter:blur(6px);
  -ms-filter:blur(6px);
  -moz-filter:blur(6px);
  -webkit-filter:blur(6px);
}
.dispute-progress .overlay
{
background:rgba(0,0,0,0.1);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 520;
}
.dispute-message
{
 background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 3px 0 2px #cccccc;
    margin: 111px auto;
    max-width: 503px;
    padding: 33px 45px 40px;	
}
.dispute-message h3
{
font-size:29px;	
}
.dispute-message p
{
font-size:17px;	
letter-spacing:1px;
}
.dispute-message .btn-xl
{
 font-size: 24px;
padding: 15px 87px;	
}
.dispute-light-box  .modal-header
{
border:none;
padding: 20px 0 0;	
}
.dispute-light-box .close
{
font-size:35px;	
}
.dispute-light-box .fancy_checkbox
{
 margin: 0;
    padding: 0;	
}
.nagative-details-table .fancy_checkbox
{
 text-align: center;	
}
.dispute-short-detail .fancy_checkbox
{
margin-top:10px;
font-weight:normal;	
}

.dispute-light-box .modal-content
{
border-radius:2px;
padding:0 40px 20px;	
}
.dispute-light-box .modal-body
{
padding:20px 0px;	
}
.dispute-short-detail
{
 border: 1px solid #ddd;
    border-radius: 2px;
    display: inline-block;
    padding: 29px 23px;
    width: 100%;
}
.dispute-short-detail h1
{
 font-size: 105px;
    font-weight: 500;
    letter-spacing: -5px;
    margin: 0;	
}
.dispute-short-detail h5
{
 font-size: 13px;
    font-weight: 500;
    margin: 0;	
} 
.dispute-short-detail .total-accounts h1
{
color:#e58d10;	
}
.dispute-short-detail .total-nagatives  h1
{
color:#0193b6;	
}
.dispute-short-detail-divider
{
display:none;	
}
.dispute-short-detail .btn
{
margin-top:20px;	
}
.dispute-full-detail-des
{
color: #999999;
padding: 19px 50px;
}
.dispute-full-detail-des h4
{
color: #999999;	
}
.dispute-light-box .table.nagative-details-table tr > td {
    padding: 10px 15px;
}
.dispute-light-box .table-responsive
{
overflow-x: inherit;
}
/* ========== dispute-selection END===========  */
.show-rows
{
   font-weight: normal;
    padding-top: 5px;
}
.support-box a
{
 border: 1px solid #ddd;
    display: block;
    padding: 25px 10px;
    text-align: center;
	border-radius:2px;
	color:#0193b6;
	margin:15px 0px;
}
.support-box a h4
{
color:#01314C;	
}
.support-box a i
{
font-size:50px;	
}
.support center
{
margin-bottom:50px;	
}
.support-box a:hover h4
{color:#fff;}
.support-box a:hover 
{
background:#0193b6;	
color:#fff;
border: 1px solid #0193b6;
}
/* ========== Support END===========  */
.tool-box
{
 border: 1px solid #dddddd;
    margin: 15px 0;
    padding: 22px 20px;
    text-align: center;
}
.tool-box h4
{
color:#01314c;
  margin-top: 15px;	
}
.tool-box p a
{
color:#f09330;
}

/* ========== TOOLS END===========  */
.score-simulator-meters{
    padding-top: 5px;
	padding-bottom:0;
}
.score-simulator-meters .updation {
    padding-top: 5px 0 15px;
}
.score-simulator-meters div.meter:first-child 
{
opacity:0.5;	
}
.score-simulator-meters .score-count
{
font-size:75px;	
}
.score-simulator-meters .score-rating
{
font-size:25px;	
}
.Score-Simulator
{
padding: 30px 0 30px 15px;	
}
.simulate-box
{
 border: 1px solid #dddddd;
margin: 10px 0;
padding: 15px 20px;
 max-height: 89px;
}
.simulate-box .btn
{
padding: 10px 6px;
margin-top: 6px;
}
.simulate-title {
 display: table;
height: 56px;
}
.simulate-title h4
{
color:#01314c;
margin: 0;	
font-size:17px;
 display: table-cell;
 vertical-align:middle;
}

/* ========== simulate-box END===========  */
.Calculators .form-control
{
height:55px;
font-size:25px;	
font-weight:100;
padding-left:20px;	
}
.Calculators .input-group-addon
{
font-size: 25px;
    padding: 0 20px;
}
.monthly-payment thead
{
background:#eeeeee;

}
.monthly-payment thead
{
	
border:1px solid #ddd;
}
.monthly-payment thead tr th
{
 border: medium none;
font-weight:normal;
font-size:16px;
padding: 10px 12px;
text-align: center;	
}
.monthly-payment tr td
{
text-align: center;	
}
.Amortization-Information .meter-des span
{
border-radius:100%;	
}
.canvasjs-chart-credit {
   display: none;
}
#chartContainer
{
height: 250px;
width: 100%;	
}
.pie-des
{
margin-top:2%;
font-weight:400;	
}
.pie-des span
{
float: left;
    height: 14px;
    margin: 5px 8px 0 0;
    width: 14px;
border-radius:100%;	
}
.pie-des span.blue
{
background:#369EAD;	
}
.pie-des span.yellow
{
background:#ffbe10;
}
.pie-des span.grey
{
background:#bbbbbb;
}
.pie-des span.maroon
{
background:#C24642;
}
.pie-des .table
{
font-weight: 300;	
}
.pie-des .table >  tbody > tr > td:first-child
{
padding-left:0;	
}
.pie-des .table >  tbody > tr > td:last-child
{
text-align:right;	
}
.pie-des .table .total
{
font-weight:normal;	
}
/* ========== Calculators END===========  */

.credit-report
{
padding:30px 0px;	
}
.credit-report .nav-tabs
{
padding-left:31px;	
}
.credit-report .nav-tabs > li > a
{
border-radius:0;	
margin-right: 4px;
padding:10px 21px;
border-top:3px solid transparent;
}
.credit-report .nav-tabs > li > a:focus,
.credit-report .nav-tabs > li > a:hover,
.credit-report .nav-tabs > li.active > a
{
outline:none;
background:#fff;
color:#0193b6;
border-top:3px solid #0193b6;	
}
.credit-report .nav-tabs > li.active > a
{
border-bottom: medium none;	
}
.credit-report .nav-tabs > li.active > a:after
{
 border-bottom: 1px solid #fff;
    bottom: -1px;
    content: "";
    height: 27px;
    left: 0;
    position: absolute;
    width: 100%;	
}
.credit-report .label-default
{
  background: #fff none repeat scroll 0 0;
    border: 1px solid #0193b6;
    border-radius: 2px;
    color: #0193b6;
    float: left;
    font-size: 10px;
    font-weight: 300;
    margin: 5px 5px 0 0;
    padding: 2px 5px;
}

.credit-report .nav-tabs > li > a:hover .label-default,
.credit-report .nav-tabs > li > a:focus .label-default
{
border:	1px solid #ef8e27;
color:#ef8e27;
}
.credit-report .nav-tabs > li.active > a .label-default
{
background:#ef8e27;
border:1px solid #ca6902;
color:#fff;	
}
.credit-report .tab-pane
{
padding:30px 0 0 30px;	
}
.credit-report-info 
{
border:1px solid #ccc;
border-radius:2px;	
font-size:15px;
color:#999999;
margin-bottom: 40px;
}

.credit-report-info  i
{
 border-right: 1px solid #ddd;
    color: #999999;
    float: left;
    font-size: 35px;
    line-height: 0;
    margin-right: 24px;
    padding: 6px 12px;
}
.report-overview-right
{
border-left:1px solid #eee;	
padding-left: 30px;
}
.personal-report
{
margin-bottom:20px;	
}
.personal-report .row
{
padding:5px 0;	
}
.personal-report a
{
font-weight:400;
color:#0193b6;	
}
.personal-information table
{
font-size:14px;	
}
.personal-information table i
{
font-size:20px;	
padding-right:5px;
}

.Utilization-pie-chart
{

}
.tab-content .section-title
{
margin:0 -31px;	
}
.report-amount figure
{
/* margin-bottom:30px; */	
}
.credit-report .panel-group 
{
    margin-bottom: 20px;
    min-width: 768px;
}

#accounts .table-responsive
{
max-width:100%;
/* overflow-x:scroll;	 */
}

.panel.accounts-panel
{
border-radius:1px;	
}
.accounts-panel .view-detail
{
margin-top:0px;
}
.accounts-head
{
display: flex;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 15px;	
	color: #555;
}
.accounts-head .fancy-select
{
font-size: 14px;	
}
.accounts-head label
{
 padding-top: 7px;	
}
.accounts-panel .panel-heading a
{
font-weight:normal;	
}
.accounts-panel .panel-heading .status
{
display:block;	
}
.accounts-panel .panel-heading .col-*
{
padding-top:15px;	
}
.panel-group .accounts-panel + .accounts-panel
{
margin-top:0;
}
.table-accounts-detail
{
font-size:14px;	
}
.table-accounts-detail tr > td:last-child
{
text-align:right;
font-weight:normal;	
color: #555;
}
.table-payment-history
{
font-size:13px;	
}
.table-payment-history > tbody > tr > td
{
padding:8px 0;	
}
address p
{
  font-size: 14px;
    margin: 0;
}
#overview .provided-by
{
font-size: 16px;	
}
#overview .provided-by img
{
 max-width: 100px;	
}
#overview  .provided-by span 
{
padding: 6px 0 10px; 
}
#overview .score-count
{
font-size: 70px;	
}
#overview .score-rating 
{
font-size: 23px;
}
#overview .updation
{
padding:0;	
}
.table-collapse 
{
font-size:14px;	
}
.table-collapse tr
{
border-left:1px solid #ddd;
border-right:1px solid #ddd;
}
.table-collapse tr:last-child
{
border-bottom:1px solid #ddd;
}
.table-collapse thead > tr > th
{
border-bottom:none;	
border-top:1px solid #ddd !important;
 vertical-align:middle;
 color:#555;
}
.table-collapse > tbody > tr > td,
.table-collapse > thead > tr > th
{
  padding: 15px;
}
.table-collapse .dropdown .btn
{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-align: left;
    width: 100%;	
	   padding: 0;
}
.table-collapse .dropdown-menu
{
border-radius: 1px;
}
.table-collapse .dropdown-menu li
{
padding:4px 9px;
cursor:pointer;	
}
.table-collapse .dropdown-menu li:hover
{
background:#eee;	
}
.table-collapse .hiddenRow
{
padding:0;	
border:none;
}
.table-collapse .hiddenRow .accordian-body
{
float: left;
padding: 15px;
width: 100%;	
border-top: 1px solid #eee;
}
.table-collapse .account-name
{
min-width:125px;	
}
.table-collapse .headerrow
{
cursor:move;	
}
.edit-columns .select-all a
{
font-size:14px;
color:#0193b6;	
}
.dispute-inaccuracies.table.nagative-details-table tr > td
{
padding: 10px 13px;
}
/* custom-chart */
.custom-chart
{
display:block;
width:100%;
position:relative;
}
.custom-chart-table tbody > tr > td
{
padding:28px 0;
font-size:14px;	
text-align:left;
}
.custom-chart-table tbody > tr > td:first-child
{
/* border:none; */	
text-align:center;
color:#01314c;
}
.custom-chart-table .excellent 
{
border-left:3px solid #249e08;
}
.custom-chart-table .good 
{
border-left:3px solid #72b862;	
}
.custom-chart-table .average 
{
border-left:3px solid #ffbe10;	
}
.custom-chart-table .poor 
{
border-left:3px solid #e16d6d;
}
.custom-chart-table .bad 
{	
border-left:3px solid #c82525;
}
.custom-chart-table tbody > tr > td span
{
display:block;
font-weight: normal;
}
.custom-chart-table tfoot > tr > td
{
padding:15px 0px;
font-size:12px;	
color: transparent;
}
.custom-chart-table tfoot > tr > td:first-child
{
border:none;	
}
.custom-chart-barbox
{
  height: 91%;
    position: absolute;
    width: 100%;	
}
.custom-chart-bartable
{
height:100%;	
}
.custom-chart-bartable tbody > tr > td
{
padding:0;
padding:0px 0px;
background:none;
}
.custom-chart-bartable .table
{
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    height: 100%;
    margin-bottom: 0;
    margin-right: 1.5%;
    position: relative;
    width: 6.8%;
}
.custom-chart-bartable .table .month
{
 bottom: -25px;
    font-size: 11px;
    left: 2px;
    position: absolute;
    transform: rotate(-49deg);
}
.custom-chart-bartable tbody > tr > td:first-child
{
width:18.5%;
border: medium none;	
}
.progress-bar-vertical {
 align-items: flex-end;
    bottom: 0;
    display: flex;
    float: left;
    height: 100%;
    margin-right: 20px;
    min-height: 100px;
    position: absolute;
    width: 100%;  
	 margin-bottom: 0;
	 border-radius: 0;
	 background:none;
	 box-shadow:none;
	 background:none;
	 overflow:visible;
	
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
  background-color: #0193b6;
   position:relative;
   	transition: all 0.6s ease;
}
.progress-bar-vertical.light
{
opacity:0.5;	
}
.bar-tooltip
{
background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    border: 2px solid #0193b6;
    border-radius: 3px;
    box-shadow: 0 0 4px #ccc;
    color: #000;
    display: none;
    font-style: italic;
    min-width: 170px;
    opacity: 1;
    padding: 5px 4px;
    position: absolute;
    top: 30%;
	left: -50%;
    z-index: 100;
	transition: all 0.6s ease;
} 
.custom.progress-bar-vertical:hover
{
opacity:1;
}
.custom.progress-bar-vertical:hover .bar-tooltip
{
display:block;	
}
/* custom-chart */



/* ========== Credit Report END===========  */









